.ticket-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.ticket-button {
  display: inline-block;
  margin-left: 10px;

  padding: 10px;

  border: 1px solid;
  border-radius: 15px;

  cursor: pointer;
}

.tickets-container {
  padding: 20px 0 15px;
}

.ticket {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;

  padding: 10px;

  border: 1px solid;
}

.status-checkbox {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.ticket-name-container, .ticket-time.container {
  display: flex;
}

.ticket-name, .ticket-time {
  display: inline-block;
  margin: 0 10px 0 0;
}

.ticket-name {
  cursor: pointer;
}

.ticket-edit, .ticket-delete {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;

  border: 1px solid;
  border-radius: 100%;

  cursor: pointer;
}

.ticket-description {
  margin: 0;
  width: 100%;

  padding: 10px 10px 0 27px;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: black;
  opacity: 0.4;
}

.ticket-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  top: calc(50vh - 125px);
  left: calc(50vw - 200px);

  width: 400px;
  height: 250px;

  box-sizing: border-box;
  padding: 20px;

  background-color: white;

  border: 1px solid;
  border-radius: 15px;
}

.ticket-form-header {
  margin: 0;

  text-align: center;
}

.ticket-name-input, .ticket-description-input {
  display: block;

  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 25px;

  font-size: 15px;
}

.ticket-description-input {
  height: 65px;
  resize: none;
}

.hidden {
  display: none;
}